<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class="w-full min-h-screen bg-zinc-800 p-10">
    <a class="w-40 text-2xl text-blue-900 border-rose-500 bg-yellow-400 rounded-lg flex mb-5" href="/">Back To Home</a>
    <h2 class="text-rose-700 text-tighter text-2xl mb-5">All Users</h2>
       <div class="users flex gap-3 flex-wrap">
       <% users.forEach(function(user){ %>
        <div class="user max-w-72 rounded-lg p-4 bg-zinc-400">
            <div class="w-full h-56 overflow-hidden rounded-lg bg-yellow-400">
                <img class="w-full h-full object-cover" src="<%= user.image %>" alt="">
            </div>
                <h3 class="text-xl mt-2 tracking-tighter "><%= user.name %></h3>
            <h5 class="text-xl text-zinc-700 tracking-tighter "><%= user.email %></h5>
            <div class="flex gap-3">
         <a class="text-blue-900 mt-2" href="/edit/<%= user._id %>">Edit User</a>
         <a class="text-rose-900 mt-2" href="/delete/<%= user._id %>">Delete User</a>
                
            </div>
        </div>
      <% }) %>
       
       </div>
       
    </div>
</body>
</html>